---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/status
  verbs:
  - get
- apiGroups:
  - observer.cert-observer.io
  resources:
  - clusterobservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - observer.cert-observer.io
  resources:
  - clusterobservers/finalizers
  verbs:
  - update
- apiGroups:
  - observer.cert-observer.io
  resources:
  - clusterobservers/status
  verbs:
  - get
  - patch
  - update
